<div>
  <header class="page-header">
    <img
      class="brand-logo"
      src="/assets/logo.svg"
      alt="logo"
      aria-hidden="true"
    />

    <app-buttons
      (loginEvent)="showComponent('login')"
      (logoutEvent)="showComponent('welcome')"
    >
    </app-buttons>
  </header>

  <app-welcome [hidden]="componentToShow != 'welcome'"></app-welcome>

  <app-login
    [hidden]="componentToShow != 'login'"
    (onSubmitLoginEvent)="onLogin($event)"
    (onSubmitRegisterEvent)="onRegister($event)"
  ></app-login>

   <section class="content" [hidden]="componentToShow != 'event'">
    <app-eventpanel class="eventpanel"></app-eventpanel>
    <app-calendar class="calendar"></app-calendar>
  </section>
</div>
