

<section>
  <form>
    <input type="text" placeholder="Filter" #filter />
    <button class="search" type="button" (click)="filterResults(filter.value)">
      Search
    </button>
    <button class="add" type="button" (click)="open()">Add</button>
  </form>



  <ul>
    @for (event of filteredEvents; track $index) {
        
    <li>
      {{event.title}}
      <div class="hover-box">
       <table>
        <!-- <tr>
            <td>Title:</td>
            <td>{{event.title}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{event.description}}</td>
        </tr>
        <tr>
            <td>Start:</td>
            <td>{{event.startTime}}</td>
        </tr> -->
        <tr>
            <td>End:</td>
            <td>{{event.endTime}}</td>
        </tr> 
       </table>
    </div>
    </li>
    }
  </ul>
</section>

