

<section class="eventpanel">
  <div class="filterline">
    <input type="search" placeholder="Filter" class ="filter" #filter (keyup)="filterResults(filter.value)" (search)="filterResults(filter.value)" />
    <button class="add" type="button" (click)="open()">Add</button>
  </div>



  <ul id="myUL">
    @for (event of filteredEvents; track $index) {
        
    <li (click)="edit(event)">
      {{event.title}}
      
      <div class="hover-box">
       <table>
        <tbody>
        <tr>
            <td>Title:</td>
            <td>{{event.title}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{event.description}}</td>
        </tr>
        <tr>
            <td>Start:</td>
            <td>{{event.startTime}}</td>
        </tr>
        <tr>
            <td>End:</td>
            <td>{{event.endTime}}</td>
        </tr> 
        </tbody>
       </table>
    </div>
    
    </li>
    }
  </ul>
</section>

