<!-- <ng-template #content let-modal> -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form>

      <input id="title" class="text-input form-outline form-control" placeholder="Title" #titleInput [formControl]="title"/>
      
      <div>
        <input type="checkbox" id="isFlexible" name="isFlexible" #isFlexibleInput [formControl]="isFlexible"/>
        <label for="isFlexible">Flexible</label>
      </div>
      <div>
        <input type="checkbox" id="isRepeating" name="isRepeating" #isRepeatingInput [formControl]="isRepeating"/>
        <label for="isRepeating">Repeating</label>
      </div>

      @if(!isRepeating.value){
      <div class="normaltime">
        <div class="">
          <label for="startDate">Start Date</label>
          <input type="datetime-local" #startDateInput id="startDate" [formControl]="startTime"/>
        </div>
        <div>
          <label for="endDate">End Date</label>
          <input type="datetime-local" #endDateInput id="endDate" [formControl]="endTime"/>
        </div>
      </div>
    }@else {
      <div class="flextime">
        <div>
        <label for="startDate">Start Time</label>
        <input type="time" #startDateFlexInput id="startDateFlex" [formControl]="startTime"/>
        </div>
        <div>
        <label for="endDate">End Time</label>
        <input type="time" #endDateFlexInput id="endDateFlex" [formControl]="endTime"/>
        </div>
      </div>
    }
      
      @if(isFlexible.value){
      <div class="durationdiv">
        <label for="duration">Duration</label>
        <form id="duration">
          <input id="d" name="d" type="number" min="0" max="365" #daysInput [formControl]="durationDays"/>
          <label for="d">d</label>
          <input id="h" name="h" type="number" min="0" max="23" #hoursInput [formControl]="durationHours"/>
          <label for="h">h</label>
          <input id="m" name="m" type="number" min="0" max="59" #minutesInput [formControl]="durationMinutes"/>
          <label for="m">m</label>
        </form>
      </div>
    }

      @if(isRepeating.value) {
      <div class="repeat">
        <div>
        <label for="startDateRepeat">Repeating Start Date</label>
        <input type="date" #startDateRepeatInput id="startDateRepeat" [formControl]="startDateRepeating"/>
        </div>
        <div>
        <label for="endDateRepeat">Repeating End Date</label>
        <input type="date" #endDateRepeatInput id="endDateRepeat" [formControl]="endDateRepeating"/>
        </div>
        <div class="dowPicker">
          <div class="dowPickerOption">
            <input type="checkbox" id="dow1" #dow1Input [formControl]="repeatMonday"/>
            <label for="dow1">M</label>
          </div>
          <div class="dowPickerOption">
            <input type="checkbox" id="dow2" #dow2Input [formControl]="repeatTuesday"/>
            <label for="dow2">T</label>
          </div>
          <div class="dowPickerOption">
            <input type="checkbox" id="dow3" #dow3Input [formControl]="repeatWednesday"/>
            <label for="dow3">W</label>
          </div>
          <div class="dowPickerOption">
            <input type="checkbox" id="dow4" #dow4Input [formControl]="repeatThursday"/>
            <label for="dow4">T</label>
          </div>
          <div class="dowPickerOption">
            <input type="checkbox" id="dow5" #dow5Input [formControl]="repeatFriday"/>
            <label for="dow5">F</label>
          </div>
          <div class="dowPickerOption">
            <input type="checkbox" id="dow6" #dow6Input [formControl]="repeatSaturday"/>
            <label for="dow6">S</label>
          </div>
          <div class="dowPickerOption">
            <input type="checkbox" id="dow7" #dow7Input [formControl]="repeatSunday"/>
            <label for="dow7">S</label>
          </div>
        </div>
      </div>
    }
      <div>
      <textarea
        id="description"
        class="text-input"
        placeholder="Description"
        #descriptionInput
        rows="5"
        cols="33"
        [formControl]="description"
      ></textarea>
      </div>

  </form>
</div>
<div class="modal-footer">

  <div class="errordiv">
  @for (error of errors; track $index) {
    <label class="error">{{error}}</label>
  }
  </div>

  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="saveandclose()"
  >
    Save
  </button>
</div>
